.w-100 {
  width: 100% !important;
}

#app {
  min-height: 100vh;
  background: #111;
  padding: 0.5rem;
}

.app__title {
  font-size: 1.5rem;
  color: white;
  margin-left: 0.5rem;
}

.app__input {
  margin-left: 0.5rem;
}

.app__habits {
  display: flex;
  flex-wrap: wrap;
}

.habit-monthly,
.habit {
  background: black;
  border: 1px solid #333;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.habit {
  flex: 1 0 auto;
  margin: 1rem 0.5rem 0;
}

.habit-monthly__wrapper {
  margin: 1rem 0 0 0;
  flex: 0 0 auto;
  width: 33.33333333%;
}

.habit-monthly {
  margin: 0.5rem;
}

.habit-monthly__name,
.habit__name {
  color: white;
  margin-bottom: 0.5rem;
}

.habit-monthly__days {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 120px;
}

.habit-monthly__days input[type=checkbox],
.habit__days input[type=checkbox] {
  margin-right: 0.75rem;
  transform: scale(1.5);
}

.habit-monthly__days input[type=checkbox] {
  flex: 1 0 auto;
  margin: 1px 0;
  transform: none;
}
